<!DOCTYPE html>
<html>
<head>
  <title>Modera</title>
  <%= stylesheet_link_tag    "modera/application", :media => "all" %>
  <%= javascript_include_tag "modera/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
